.banner-container {
  height: 100vh;
  background-image: url("https://shop.redq.now.sh/_next/static/images/grocery-f1565ac25de02b9295dccc2da13004ab.png");
  background-color: #fff;
  background-position: center center;
  background-size: cover;

  .search-bar-container {
    width: 750px;
    height: 50px;
  }

  .banner-title {
    font-family: "Poppins", sans-serif;
    color: rgb(13, 17, 54);
    font-weight: 700;
    font-size: 45px;
  }
  .banner-description {
    font-size: 19px;
    color: rgb(119, 121, 140);
    font-weight: 400;
  }
}
