.sidebar {
  position: sticky;
  top: 100px;

  &-mobile {
    font-weight: 700;
    color: rgb(13, 17, 54);
    background-color: #fff;
    border-bottom: 1px solid #f1f1f1;
    justify-content: space-between;
  }

  ul {
    list-style: none;
    padding: 40px 30px;
    font-weight: bold;
    font-size: 1rem;
    .sidebar-item {
      .sidebar-icon {
        display: inline-block;
        svg path {
          transition: all 0.2s ease;
        }
      }
      cursor: pointer;
      padding: 0 0 30px 0;
      color: rgb(13, 17, 54);
      transition: all 0.2s ease;

      &:hover,
      &.active {
        .sidebar-icon svg path {
          fill: rgb(0, 158, 127);
        }
        color: rgb(0, 158, 127);
      }
    }
  }
}
