.your-order {
  position: sticky !important;
  top: 100px;
  h3 {
    font-size: 16px;
    font-weight: 700;
    color: rgb(13, 17, 54);
    margin-bottom: 40px;
  }

  .checkout-item {
    display: flex;
    justify-content: space-between;
    font-size: calc(15px);
    font-weight: 400;
    color: rgb(119, 121, 140);
    margin-bottom: 25px;

    b {
      font-size: calc(14px);
      font-weight: 700;
      color: rgb(13, 17, 54);
    }
    span {
      font-size: 11px;
    }

    &.total {
      font-weight: 700;
      color: rgb(13, 17, 54);
      margin-top: 30px;
    }
  }

  .checkout-calculation {
    margin-top: 20px;
    border-top: 1px solid rgb(230, 230, 230);
    padding: 20px 0px;
  }
}

.payment-option {
  p {
    font-size: 13px;
    font-weight: 400;
    color: rgb(119, 121, 140);
    line-height: 1.5;
    margin-top: 30px;
    a {
      font-size: 13px;
      font-weight: 400;
      color: rgb(255, 91, 96);
      margin-left: 5px;
      cursor: pointer;
      line-height: 1.5;
    }
  }

  .btn-checkout {
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 158, 127);
    flex-shrink: 0;
    text-align: center;

    padding: 15px 0;
    transition: all 0.3s ease 0s;
    border-radius: 6px;
    width: 100%;

    &:hover {
      color: rgb(255, 255, 255);
      background-color: rgb(1, 147, 118);
    }
  }
}
.payment-method {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;

  .payment-item {
    color: rgb(0, 158, 127);
    border: 2px solid rgb(0, 158, 127);
    background-color: #eee;
    border-radius: 5px;
    padding: 30px 100px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in;

    &.active {
      color: #fff;
      background-color: rgb(0, 158, 127);
      border-color: rgb(0, 158, 127);
    }
  }
}
