.product-detail {
    background-color: rgb(247, 247, 247);
    margin-top: 70px;
    padding: 10px;

    .product-info-container {
        margin: 40px 85px;
    }

    .related-products-container {
        margin: 80px 70px 100px 70px;
    }
}

@media screen and (max-width: 990px) {
    .product-detail {
        .product-info-container {
            margin: 10px 25px;
        }

        .related-products-container {
            margin: 20px 10px 50px 10px;
        }
    }
}
